{% extends "base.html" %}

{% block site-title %}
    Otel Sistemi
{% endblock site-title %}


{% block site-icerik %}
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-md-3 bg-danger">
                <h5 class="text-center">Oda Yapılandırma Menüsü</h5>
            </div>

            <div class="col-md-9 bg-info">
                <h5 class="text-center">Odalar</h5>
            </div>
        </div>
    </div>
    
{% endblock site-icerik %}